<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.locker_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Locker_mobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        >
        <activity android:name=".SelectLockerActivity" />
        <activity android:name=".SelectRecipientActivity" />
        <activity android:name=".SelectBoxActivity" />
        <activity android:name=".ParcelsFromMeActivity" />
        <activity android:name=".ParcelViewActivity" />
        <activity android:name=".AddNewActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>