* {
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Courier New', monospace;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 5px;
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 20%; /* width/height  - initial value: auto */
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
  padding: 10px;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #666;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', monospace;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  
  a:link {color: #000000; text-decoration: underline;}
  a:visited {color: #000000; text-decoration: underline;}
  a:hover {text-decoration: none;}